**Regras de associação**

**Algoritmo Apriori**

**Veja: https://www.youtube.com/watch?v=0v6PiOpsJi8**

In [52]:
import pandas as pd
from apyori import apriori

In [53]:
#encoding = "cp1252", encoding='utf-8', encoding='latin1'etc
base = pd.read_csv('MercadoSim.csv', sep=';', header=None)
base

       0     1        2    3         4      5       6
0    NaN  Cafe      NaN  Pao  Manteiga    NaN     NaN
1  Leite   NaN  Cerveja  Pao  Manteiga    NaN     NaN
2    NaN  Cafe      NaN  Pao  Manteiga    NaN     NaN
3  Leite  Cafe      NaN  Pao  Manteiga    NaN     NaN
4    NaN   NaN  Cerveja  NaN       NaN    NaN     NaN
5    NaN   NaN      NaN  NaN  Manteiga    NaN     NaN
6    NaN   NaN      NaN  Pao       NaN    NaN     NaN
7    NaN   NaN      NaN  NaN       NaN    NaN  Feijao
8    NaN   NaN      NaN  NaN       NaN  Arroz  Feijao
9    NaN   NaN      NaN  NaN       NaN  Arroz     NaN

In [54]:
base.shape

(10, 7)

**Como estaremos treinando um modelo a priori, que recebe entradas em formato de lista, precisamos transformar o dataframe em uma lista de transações.**

In [55]:
transacoes = []
for i in range(len(base)):
  #print(i)
  #print(base_mercado1.values[i, 0])
  transacoes.append([str(base.values[i, j]) for j in range(base.shape[1])])

In [56]:
transacoes

[['nan', 'Cafe', 'nan', 'Pao', 'Manteiga', 'nan', 'nan'],
 ['Leite', 'nan', 'Cerveja', 'Pao', 'Manteiga', 'nan', 'nan'],
 ['nan', 'Cafe', 'nan', 'Pao', 'Manteiga', 'nan', 'nan'],
 ['Leite', 'Cafe', 'nan', 'Pao', 'Manteiga', 'nan', 'nan'],
 ['nan', 'nan', 'Cerveja', 'nan', 'nan', 'nan', 'nan'],
 ['nan', 'nan', 'nan', 'nan', 'Manteiga', 'nan', 'nan'],
 ['nan', 'nan', 'nan', 'Pao', 'nan', 'nan', 'nan'],
 ['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'Feijao'],
 ['nan', 'nan', 'nan', 'nan', 'nan', 'Arroz', 'Feijao'],
 ['nan', 'nan', 'nan', 'nan', 'nan', 'Arroz', 'nan']]

In [57]:
type(transacoes)

list

In [58]:
transacoes = []
for i in range(len(base)):
    transacoes.append([str(base.values[i, j]) for j in range(base.shape[1]) if not pd.isna(base.values[i, j])])

**Vamos chamar executar o algoritmo apriori e armazenar as regras obtidas**

In [59]:
regras = apriori(transacoes, min_support = 0.3, min_confidence = 0.8)
saida = list(regras) 
print(len(saida))
print(saida)

4
[RelationRecord(items=frozenset({'Cafe', 'Manteiga'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Manteiga'}), confidence=1.0, lift=2.0)]), RelationRecord(items=frozenset({'Cafe', 'Pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Pao'}), confidence=1.0, lift=2.0)]), RelationRecord(items=frozenset({'Manteiga', 'Pao'}), support=0.4, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Manteiga'}), items_add=frozenset({'Pao'}), confidence=0.8, lift=1.6), OrderedStatistic(items_base=frozenset({'Pao'}), items_add=frozenset({'Manteiga'}), confidence=0.8, lift=1.6)]), RelationRecord(items=frozenset({'Pao', 'Cafe', 'Manteiga'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Manteiga', 'Pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'Cafe', 'Manteiga'}), items_add=frozenset({'Pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'Cafe', 'Pao'}), items_add=frozenset({'Manteiga'}), confidence=1.0, lift=2.0)])]

In [60]:
print(saida[0])

RelationRecord(items=frozenset({'Cafe', 'Manteiga'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Manteiga'}), confidence=1.0, lift=2.0)])

In [61]:
print(saida[1])

RelationRecord(items=frozenset({'Cafe', 'Pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Pao'}), confidence=1.0, lift=2.0)])

In [62]:
print(saida[2])

RelationRecord(items=frozenset({'Manteiga', 'Pao'}), support=0.4, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Manteiga'}), items_add=frozenset({'Pao'}), confidence=0.8, lift=1.6), OrderedStatistic(items_base=frozenset({'Pao'}), items_add=frozenset({'Manteiga'}), confidence=0.8, lift=1.6)])

**Para facilitar a visualização, veja como transformar isso em um dataframe** 

Extraído de:

https://www.section.io/engineering-education/apriori-algorithm-in-python/

https://splunktool.com/understanding-apyoris-output

In [63]:
lhs = []
rhs = []
suporte = []
confianca = []
lift = []

for resultado in saida:
  #print(resultado)
  s = resultado[1]
  #print(s)
  result_rules = resultado[2]
  #print(result_rule)
  for result_rule in result_rules:
    #print(result_rule)
    a = list(result_rule[0])
    b = list(result_rule[1])
    c = result_rule[2]
    l = result_rule[3]
    #print(a, ' - ', b, ' - ', c, ' - ', l)
    lhs.append(a)
    rhs.append(b)
    suporte.append(s)
    confianca.append(c)
    lift.append(l)
    RegrasFinais = pd.DataFrame({'Lhs': lhs, 'Rhs': rhs, 'suporte': suporte, 'confianca': confianca, 'lift': lift})

In [64]:
RegrasFinais

                Lhs              Rhs  suporte  confianca  lift
0            [Cafe]       [Manteiga]      0.3        1.0   2.0
1            [Cafe]            [Pao]      0.3        1.0   2.0
2        [Manteiga]            [Pao]      0.4        0.8   1.6
3             [Pao]       [Manteiga]      0.4        0.8   1.6
4            [Cafe]  [Manteiga, Pao]      0.3        1.0   2.5
5  [Cafe, Manteiga]            [Pao]      0.3        1.0   2.0
6       [Cafe, Pao]       [Manteiga]      0.3        1.0   2.0

**Podemos ordenar estas regras por uma métrica desejada**

In [65]:
RegrasFinais.sort_values(by='lift', ascending=False)

                Lhs              Rhs  suporte  confianca  lift
4            [Cafe]  [Manteiga, Pao]      0.3        1.0   2.5
1            [Cafe]            [Pao]      0.3        1.0   2.0
0            [Cafe]       [Manteiga]      0.3        1.0   2.0
6       [Cafe, Pao]       [Manteiga]      0.3        1.0   2.0
5  [Cafe, Manteiga]            [Pao]      0.3        1.0   2.0
2        [Manteiga]            [Pao]      0.4        0.8   1.6
3             [Pao]       [Manteiga]      0.4        0.8   1.6

In [80]:
from mlxtend.frequent_patterns import apriori
from mlxtend.preprocessing import TransactionEncoder
import pandas as pd

# Gerando itemsets frequentes
frequent_itemsets = apriori(transacoes_one_hot, min_support=0.3, use_colnames=True)

# Imprimindo os itemsets e seus suportes
print("Itemsets frequentes e seus suportes:")
for idx, row in frequent_itemsets.iterrows():
    itemset = ', '.join(list(row['itemsets']))
    support = row['support']
    print(f"Itemset: {{{itemset}}} | Suporte: {support:.4f}")

Itemsets frequentes e seus suportes:
Itemset: {Cafe} | Suporte: 0.3000
Itemset: {Manteiga} | Suporte: 0.5000
Itemset: {Pao} | Suporte: 0.5000
Itemset: {Cafe, Manteiga} | Suporte: 0.3000
Itemset: {Cafe, Pao} | Suporte: 0.3000
Itemset: {Manteiga, Pao} | Suporte: 0.4000
Itemset: {Pao, Cafe, Manteiga} | Suporte: 0.3000

In [90]:
pip install mlxtend pandas

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: mlxtend in c:\users\llays\appdata\local\programs\python\python313\lib\site-packages (0.23.4)
Requirement already satisfied: pandas in c:\users\llays\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: scipy>=1.2.1 in c:\users\llays\appdata\local\programs\python\python313\lib\site-packages (from mlxtend) (1.15.2)
Requirement already satisfied: numpy>=1.16.2 in c:\users\llays\appdata\local\programs\python\python313\lib\site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\llays\appdata\local\programs\python\python313\lib\site-packages (from mlxtend) (1.6.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\llays\appdata\local\programs\python\python313\lib\site-packages (from mlxtend) (3.10.0)
Requirement already satisfied: joblib>=0.13.2 in c:\users\llays\appdata\local\programs\python\python313\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\llays\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\llays\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\llays\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\llays\appdata\local\programs\python\python313\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\llays\appdata\local\programs\python\python313\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\llays\appdata\local\programs\python\python313\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\llays\appdata\local\programs\python\python313\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\llays\appdata\roaming\python\python313\site-packages (from matplotlib>=3.0.0->mlxtend) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\llays\appdata\local\programs\python\python313\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\llays\appdata\local\programs\python\python313\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.2.1)
Requirement already satisfied: six>=1.5 in c:\users\llays\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\llays\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [94]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

# Gerar os conjuntos frequentes
frequentes = apriori(base, min_support=0.3, use_colnames=True)

# Gerar as regras de associação
regras = association_rules(frequentes, metric="confidence", min_threshold=0.1)

# Calcular convicção manualmente
regras['conviccao'] = (1 - regras['consequent support']) / (1 - regras['confidence'])

# Criar tabela final com as métricas desejadas
tabela_metrica = regras[['antecedents', 'consequents', 'support', 'confidence', 'lift', 'conviccao']]

# Organizar visualmente: transformar os conjuntos em strings
tabela_metrica['antecedents'] = tabela_metrica['antecedents'].apply(lambda x: ', '.join(list(x)))
tabela_metrica['consequents'] = tabela_metrica['consequents'].apply(lambda x: ', '.join(list(x)))

# Exibir a tabela
print("\nTabela de métricas das regras de associação:\n")
print(tabela_metrica.to_string(index=False))

Tabela de métricas das regras de associação:

     antecedents      consequents  support  confidence  lift  conviccao
         Cerveja          Fraldas     0.50        1.00   2.0        inf
         Fraldas          Cerveja     0.50        1.00   2.0        inf
             Pão          Cerveja     0.50        0.50   1.0        1.0
         Cerveja              Pão     0.50        1.00   1.0        NaN
             Pão          Fraldas     0.50        0.50   1.0        1.0
         Fraldas              Pão     0.50        1.00   1.0        NaN
             Pão            Leite     0.75        0.75   1.0        1.0
           Leite              Pão     0.75        1.00   1.0        NaN
    Pão, Cerveja          Fraldas     0.50        1.00   2.0        inf
    Pão, Fraldas          Cerveja     0.50        1.00   2.0        inf
Cerveja, Fraldas              Pão     0.50        1.00   1.0        NaN
             Pão Cerveja, Fraldas     0.50        0.50   1.0        1.0
         Cerveja     Pão, Fraldas     0.50        1.00   2.0        inf
         Fraldas     Pão, Cerveja     0.50        1.00   2.0        inf

c:\Users\llays\AppData\Local\Programs\Python\Python313\Lib\site-packages\mlxtend\frequent_patterns\association_rules.py:186: RuntimeWarning: invalid value encountered in divide
  cert_metric = np.where(certainty_denom == 0, 0, certainty_num / certainty_denom)
C:\Users\llays\AppData\Local\Temp\ipykernel_2580\228790890.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_metrica['antecedents'] = tabela_metrica['antecedents'].apply(lambda x: ', '.join(list(x)))
C:\Users\llays\AppData\Local\Temp\ipykernel_2580\228790890.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_metrica['consequents'] = tabela_metrica['consequents'].apply(lambda x: ', '.join(list(x)))